/*universal style*/
html {
	font-size: 16px;
	font-family: "Verdana", Sans-serif;
	color: black;
}

body{
	margin: 0;
}

h2{
	font-size: 25px;
	text-align: center;
}

h4{
	font-family: Convergence;
	font-size: 20px;
	font-weight: bold;
	font-weight: normal;
}

h6{
	font-family: Convergence;
	font-size: 20px;
}

/*first-part*/
.head{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:64px;
}

.logo{
  display: flex;
  align-items: center;
  height: 32px;
	margin-left: 24px;
}

nav{
  justify-content: space-between;
	margin-right:24px;
}

nav span{
  margin-left: 16px;
}


.banner{
  display:flex;
  background-color: Gainsboro;
  width: 100%;
  border: orangered dotted 1px;
  box-sizing: border-box;
}

.banner img{
  padding:32px 24px;
  border: orangered dotted 1px;
  box-sizing: border-box;
}

.bannertext{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  padding-left: 24px;
}

button{
  padding:8px;
  color:white;
  background-color: black;

}

/*second-part*/

.secondpart{
  display: flex;
  width: 100%;
}

.left img{
  padding:0px;
  width: 100%
}

.left{
  width: 60%;
  padding: 32px 24px;
  border: orangered dotted 1px;
  box-sizing: border-box;
}

.left h1{
  margin-top: 32px;
  margin-bottom: 24px;
}

.left h5{
  margin-bottom: 32px;
}

.orientation{
  display: flex;
}

.campus{
  display: flex;
}

.guest{
	display: flex;
}

.right{
  width: 40%;
  padding-left: 24px;
  border: orangered dotted 1px;
  box-sizing: border-box;
}

.img1{
	border: orangered dotted 1px;
	box-sizing: border-box;
	width: 35%;
}

.orientation img{
  margin-top: 16px;
  height: auto;
  border: orangered dotted 1px;
  box-sizing: border-box;
  width: 100%;
}

.campus img{
	margin-top: 16px;
  height: auto;
  border: orangered dotted 1px;
  box-sizing: border-box;
  width: 100%;
}

.guest img{
	margin-top: 16px;
  height: auto;
  border: orangered dotted 1px;
  box-sizing: border-box;
  width: 100%;
}

.text{
  border: orangered dotted 1px;
  box-sizing: border-box;
	width: 65%;
}

/*third-part*/

.thirdpart{
  background-color: Gainsboro;
  border: orangered dotted 1px;
  box-sizing: border-box;
}

.img2{
	border: orangered dotted 1px;
  box-sizing: border-box;
	height: auto;
}

.row1{
  display: flex;
  padding-left: 72px;
  padding-right: 72px;
  border: orangered dotted 1px;
  box-sizing: border-box;
}

.computer-art{
  margin-left: 32px;

}

.Design{
  margin-left: 32px;
}

.thirdpart text{
  background-color: white;
}

.row2{
  display: flex;
  padding-left: 72px;
  padding-right: 72px;
}

.business{
  margin-left: 32px;
}

.Marketing{
  margin-left: 32px;
}

.thirdpart h1{
  text-align: center;
  padding:32px;
}

/*fourth-part*/

.fourthpart h1{
  text-align: center;
  padding: 32px;
  align-items: center;
}

.Fisma {
  display: flex;
}

.Fisma img{
	width: 100%;
}

.Now-and-then{
  display: flex;
}

.Now-and-then img{
	width: 100%;
}

.total{
  display: flex;
}

footer{
  border: orangered dotted 1px;
  box-sizing: border-box;
  margin-left: 24px;
  margin-top: 16px;
  margin-bottom: 50px;
	padding-right: 24px;
}

footer span{
  float: right;
	margin-left: 16px;
}

/*mobile device*/
@media only screen and (max-width: 600px){
	}
}
